*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body{
    background-image: url('bg-header-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:1rem;
}